<div class="show-comments mb-2 d-flex justify-content-between align-items-center">
  <a (click)="getAllComments()" class="text-decoration-none text-capitalize main-color">
    @if (!allComments) {
    show comments ({{comments.length}})
    }@else {
    hide comments
    }
  </a>

  <a (click)="addComment(post._id)" class="text-decoration-none text-capitalize main-color">
    add comment
  </a>
</div>
<div>
  @for (comment of comments.slice(0,numOfComments()); track comment._id) {
  <app-comment-card [comment]="comment" (onUpdateComment)="openModal($event)" (onDeleteComment)="deleteComment($event)" />
  }
</div>
