<section class="vh-100 login flex-column bg-light d-flex justify-content-center align-items-center">
  <h1 class="text-capitalize main-color mb-4">Linked Posts</h1>

  <div class="container p-5 bg-white rounded-4 shadow">

    <form [formGroup]="authForm" (ngSubmit)="login()" class="mb-2">
      <h2 class="text-capitalize main-color mb-4 fs-2">Login now</h2>

      <div class="mb-4 ">
        @let emailControl = authForm.get('email')!;
        <input type="email" appInputAlert [inputControl]="emailControl" formControlName="email" id="email"
          class="form-control shadow-none  form-control-lg " placeholder="enter your email" required />
        <app-validation-messages [control]="emailControl" />

      </div>
      <div class="mb-4 ">
        @let passControl = authForm.get('password')!;
        <input type="password" appInputAlert [inputControl]="passControl" formControlName="password" id="password"
          class="form-control form-control-lg  shadow-none " required placeholder="enter your password" />
        <app-validation-messages [control]="passControl" />

      </div>








      <div class="d-flex justify-content-between">
        <form-btn [btnString]="'Login'" [isLoading]="isLoading" [isValid]="authForm.valid" />
        <div class="mt-2 text-capitalize">
          not registered ? <a routerLink="/register" class="text-decoration-none main-color">create account</a>
        </div>
      </div>
    </form>

    @if (resMsg) {
    <res-msg [resMsg]="resMsg" />
    }
  </div>





</section>