<nav class="navbar fixed-top shadow-sm navbar-expand-lg bg-body-tertiary">
  <div class="container py-2">
    <a class="navbar-brand fw-medium text-capitalize fs-4 main-color" routerLink="/">
      linked posts
    </a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" role="button" ngbDropdownToggle>
            <img [src]="userData.user?userData.user.photo:'imgs/profile (1).png'" class="dropImage" width="35">
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li><a class="dropdown-item" routerLink="profile">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>
